@page
@model BadogASP_razor_pages_.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    bool isHomePage = Request.Path == "/";
}

<div class="container my-5">
    <h1 class="text-center mb-4">@((isHomePage) ? "Our Featured Products" : "Products")</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @if (Model.Products != null && Model.Products.Count > 0)
        {
            @foreach (var product in Model.Products)
            {
                @await Html.PartialAsync("_ProductCard", product)
            }
        }
        else
        {
            <div class="col-12">
                <p class="text-center">No products available.</p>
            </div>
        }
    </div>
</div>
