/* CustomStyles.css */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.card img {
    border-bottom: 1px solid #ccc;
}

.card-body {
    text-align: center;
}

.image-container {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.product-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    margin: 0;
    text-align: center;
}
